#formcontainer {
	padding: 30px;
	padding-top: 10px;
	
	margin-bottom: 30px;
	background-color: #fff;
	-webkit-border-image:url(../img/mail.png) 3 3 round; /* Safari 3 */
	-o-border-image:url(../img/mail.png) 3 3 round; /* Opera */
	border-image:url(../img/mail.png) 3 3 round;
	border-width: 3px;
}
.navbar-header{
	padding: 8px;
}

.formalertcontainer{
	padding: 10px;
}

#separateur{
	height: 1350px;
}

.leftalert{
	padding-left: 15px;
}

#formalert{
	float: left;
	background-color: #34495E;
	padding: 5px;
	color: #fff;
	font-size: 12px;	
}

.arrow-left {
	width: 0; 
	height: 0; 
	padding: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-right:10px solid #34495E; 
}

.arrow-right {
	width: 0; 
	height: 0; 
	padding: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	
	border-left: 10px solid #34495E;
}

#title{
	color: #34495E;
	text-align: center;
	font-family: 'Source Sans Pro';
	margin-top: 50px;
}

#title{
	color: #34495E;
	text-align: center;
	font-family: 'Source Sans Pro';
}

.social{
	margin: 40px;
}

#submit{
	font-size: 0.8em;
	text-align: center;
	color: #34495E;
}

#contactbenj{
	font-size: 0.8em;
	text-align: center;
	color: #34495E;
	font-family: Helvetica;
}

body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	background: url(debut_light.png);
}

h1, h2, h3 {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-weight: 700;
}

footer{
	background-color: transparent;
	text-align: right;
}